* {
  border: 0;
  margin: 0;
  padding: 0;
}

img{
  width: 100px;
}

ul {
  list-style-type: none;
}

nav ul{
  
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  grid-auto-flow: column;
  

}
nav ul li{
  background-color: #8e9c62;
  text-align: center;
  margin: 15px;
  width: 150px;
  line-height: 40px;
  /* border-radius: 30%; */
}

nav ul li a{
  text-decoration: none;
  color: #283618;
  display: block;
  
}

nav ul li a:hover{
  color: #d7ea97;
}


header{
  display: grid;
  align-content: end;
  height: 400px;
  background-color: rgb(64, 138, 82);
  padding: 40px;  
}

header h1{
  padding-bottom : 20px;
}


body {
  font-family: Arial, sans-serif;
  width: 880px;
  margin: auto;
  background-color: #fefae0;
}

#logo-img img{
  /* background-color: red; */
  width: 50px;
}


/* For Hamburger menue ======================================================= */

/* add media query  */

/* hide the checkboxes */
#menu-toggle{
  display: none;
}

/* style the hamburger menu */
.hamburger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger span{
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #8e9c62;
}

.hamburger span:nth-child(1)
{
  top: 0;
}

.hamburger span:nth-child(2)
{
  top: 9px;
}

.hamburger span:nth-child(3)
{
  bottom: 0;
}


.menu {
  position: absolute;
  top: 0;
  right: -300px;
  width: -300px;
  height: 100%;
  background-color: #83552d;
  color: #8e9c62;
}

.menu ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.menu ul li{
  padding: 10px;
}

.menu ul li a{
  color: #fefae0;
  text-decoration: none;
}

#menu-toggle:checked ~ .menu {
  left: 0%;
}



/* End of Hamburger menue ======================================================= */
.plant-info {
  background-color: rgb(92, 164, 90);
  text-align: center;
}


.card-container {
  
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  text-align: left;
  background-color: #c3cea1;
  margin: 30px;
  padding: 10px;
  width: 200px;
}


/* Footer */
.footer {
  background-color: red;
  padding: 30px;
}


