:root {
    --light-yellow-background: #FFFCEB; 
    --olive-green: #8e9c62;
    --dark-green: #325118;
    --light-green-hover: #c3cea1;
    --solid-green: #408a52;
}


* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courgette", Arial, sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  /* width: 880px;  */
  margin: auto;
  background-color: var(--light-yellow-background);
}

a:link{
  color: var(--dark-green);
}

#logo-img img{
  /* background-color: red; */
  width: 80px;
}


/* all images  */
img{
  width: 200px;
}

/* nav menu bottons ======================================================================= */

nav {
  /* to keep nav bottons stay at the top */
  /* position: sticky; 
  top: 0; */
  background-color: var(--light-yellow-background);
  display: grid;
  grid-template-columns: auto 1fr;
}


nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;  
}


nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  background-color: var(--dark-green);
  color: var(--light-yellow-background);
  display: block;
  width: 150px;
  height: 40px;
  margin: 20px;
  text-align: center;
  align-content: center;
  border-radius: 5px; 
   /* background-color: red; */

}

nav ul li a:hover{
  color: var(--light-green-hover);
}

/* For Hamburger menue ============================================================================== */

.hamburger, .menu {
  display: none;
}

/* hide the checkboxes */
  #menu-toggle{
    display: none;
    overflow: hidden;
  }

/* add media query  */
@media (max-width: 768px) {

  nav ul.nav-list {
      display: none;
  }

  /* style the hamburger menu */
  .hamburger {
    position: fixed; 
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 10000; /* make the 3 lines above everything so user can toggle it*/ 
  }

  .hamburger span{
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #8e9c62;
  }

  .hamburger span:nth-child(1)
  {
    top: 0;
  }

  .hamburger span:nth-child(2)
  {
    top: 9px;
  }

  .hamburger span:nth-child(3)
  {
    bottom: 0;
  }


  .menu {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #83552d;
    color: #8e9c62;
    z-index: 9999;
  }

  .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

  .menu ul li{
    padding: 10px;
  }

  .menu ul li a{
    color: #084e0c;
    text-decoration: none;
  }

  #menu-toggle:checked ~ .menu {
    right: 0%;
  }
}

/*  Hero banner ============================================================================== */

.hero-banner{
  position: relative;
  height: 600px;
  z-index: 1;
}

.hero-banner img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-banner-title{
  position: absolute; 
  height: 100px;
  width: 500px;
  left: 50px;
  bottom: 15em;
  background-color: rgba(64,138,82,80%); /* For transperent card */
  /* background-color: var(--solid-green); */
  color: var(--light-yellow-background);
  padding: 16px 20px;
  border-radius: 8px;
  z-index: 10;
}
/* about ================================================================================= */

.about-banner{
  background-color: var(--dark-green);
  text-indent: 1em;
  color: var(--light-yellow-background);
}

.about-banner h1 {
  text-align: center;
  padding: 30px;
}

.about-banner section{
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.about-banner img{
  height: 180px;
  width: 150px;
  border-radius: 20%;
  border: 3px, solid, var(--light-green-hover);
}

#about-title{
  display: grid;
  grid-template-columns: 20% 1fr;
}

#about-title h3, #about-title p {
  grid-column: 2;
  font-size: 30px;
}

#about-title img {
  grid-column: 1;
  grid-row: 1 / 3;
}

#about-middle {
  display: grid;
  grid-template-columns: 80% 1fr;
  font-size: 30px;
}

#about-last {
  display: grid;
  grid-template-columns: 20% 1fr;
  font-size: 30px;
}

/* calendar ================================================================ */


.calendar-banner {
  padding: 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 1fr;
}

.calendar-banner p, h2 {
  color: var(--dark-green);
}

.calendar-banner p {
  margin: 20px 0px;
}




.calendar-banner a {
  grid-column: 2;
  text-decoration: none;
  background-color: var(--dark-green);
  color: var(--light-yellow-background);
  width: 100px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 70%;
}

.calendar-banner a:hover {
  color: var(--olive-green);
}

.calendar-banner img {
  height: 90%;
  width: 90%;
  grid-row: 1/3;
}

@media (max-width: 768px) {
  .calendar-banner {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-around; 
  }

  .calendar-banner img {
    grid-row: 2;
  }

  .calendar-banner a {
    margin-left: 40%;
    align-content: center;
    grid-column: 1;
    grid-row: 3;
  }

}




/* plant info cards ============================================================================== */


.plant-info {
  background-color: var(--dark-green);
  text-align: center;
}

.plant-info h2 {
  color: #B8DB71;
  text-transform: uppercase;
}

.card-container {
  display: grid;
  align-content: center;
  justify-content: space-around; 
  grid-template-columns: auto auto auto;
}

.plant-info .more-info-plant{
  display: inline-block; 
  background-color: #B8DB71;
  color: var(--dark-green);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
}

.plant-info .more-info-plant:hover{
  color: var(--olive-green);
}

.more-info-plant{
  text-align: center; 
}

.card {
  text-align: left;
  background-color: var(--light-yellow-background);
  margin: 30px;
  padding: 10px;
  height: 20rem;
  width: 20em;
  line-height: 2em;
  border-radius: 5%;
  border: 3px solid var(--dark-green);
  overflow: hidden; /* so that text dont go outside the box */
}

.card img {
  display: block;
  margin: auto;
  height: 10rem;
  border-radius: 5%;
  border: 3px solid var(--dark-green);
}


/* media query - plant info ============================== */
@media (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: space-around; 
  }

  .card img {
  width: 60%;
  }

}


/* guides ============================================================================ */

#guides-banner{
  margin: 30px;
  /* background-color: red; */
}

#guides-banner h2{
  font-size: 40px;
  text-align: center;
}

#guides-banner .guide-card {
  color: var(--dark-green);
  margin: 30px;
  display: grid;
  grid-template-columns: 20% auto;
}

#guides-banner h3 {
  font-size: 30px;
}

#guides-banner p {
  margin-top: 20px;
  font-size: 25px;
}

#guides-banner a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 25px;
}



#guides-banner img {
  height: 250px;
  width: 200px;
  border-radius: 20%;
  border: 3px solid var(--dark-green);
  /* width: 30%; */
  grid-row: 1/3;
}

#guides-banner aside{
  grid-row: 1;
  grid-column: 2;
  
}







/* calendar page ============================================================================ */


#calendar-page-hero {
  text-align: center;
  background-color: var(--dark-green);
  color: var(--light-yellow-background);
  padding: 30px;
  height: 200px;
}

#calendar-page-hero p {
  padding: 30px;
  font-size: 20px;
}




#calendar-page-table-legend section{
  color: var(--dark-green);
  padding: 3em;
  display: grid;
  grid-template-columns: 20% 1fr;
}

#calendar-page-table-legend section h1 p {
  grid-column: 2;
}

#calendar-page-table-legend p {
  font-size: 25px;
}

#calendar-page-table-legend section img{
  grid-row: 1 / 3;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 3px solid var(--dark-green);
}


#calendar-table {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#calendar-table table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: var(--light-green-hover);
  color: var(--dark-green);
}

#calendar-table th, td{
  border: 3px solid var(--light-yellow-background);
  width: 50em;
  height: 5em;
  overflow: hidden;
}




/* Footer ============================================================================== */

.footer {
  background-color: var(--dark-green);
  color: var(--light-yellow-background);
  height: 200px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
}

.footer h3 {
  font-size: 30px;
}

.footer p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer section ul li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer section ul li a {
  color: var(--light-green-hover);
  /* background-color: red; */
  text-decoration: none;
  
}

@media (max-width: 768px) {
  #footer-info{
    display: none;
  } 

  .footer{
    grid-template-columns: 1fr  1fr;
  }
}


